@import "src/theme/theme-variables";

.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

.error {
  padding: 5px 0;
  color: mat-color($app-warn);

  mat-icon,
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

form {
  padding-top: 20px;

  mat-form-field {
    margin: 0 15px;
  }
}

mat-card-content {
  width: 80%;
}
