<div class="container" fxFlexFill>
  <mat-card fxFlexFill fxLayout="column" fxLayoutAlign="center center">
    <ng-container *ngIf="!firstRunOccurred; then firstRun; else defaultRun"> </ng-container>

    <ng-template #firstRun>
      <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
      <p>You're so cool bro, thank you for using this magnificent currency app!</p>
    </ng-template>
    <ng-template #defaultRun>
      <p>
        <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      </p>
      <mat-card-content>
        <mat-card-title translate>Hello world !</mat-card-title>
        <ng-template [ngIf]="!error" [ngIfElse]="apiError">
          <form (keydown.enter)="$event.preventDefault()">
            <mat-form-field>
              <input
                matInput
                type="number"
                id="amount"
                name="amount"
                (change)="amount = $event.target.value"
                [value]="amount"
                placeholder="{{ 'amount' | translate }}"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label translate>from</mat-label>
              <mat-select
                id="currencyFrom"
                name="currencyFrom"
                [value]="selectedFrom"
                (selectionChange)="selectedFrom = $event.source.value"
              >
                <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="accent" type="button" (click)="doSubstitution()">
              <mat-icon>compare_arrows</mat-icon>
            </button>
            <mat-form-field>
              <mat-label translate>to</mat-label>
              <mat-select
                id="currencyTo"
                name="currencyTo"
                [value]="selectedTo"
                (selectionChange)="selectedTo = $event.source.value"
              >
                <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="accent" type="button" (click)="doConversion()">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </form>
          <div class="result" [innerHTML]="conversionResult"></div>
        </ng-template>

        <ng-template #apiError>
          <p class="error">
            <mat-icon>mood_bad</mat-icon> <span>{{ 'error' | translate }}</span>
          </p>
        </ng-template>
      </mat-card-content>
    </ng-template>
  </mat-card>
</div>
